@* index Template File *@
@(datas: List[TestEntity])
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.min.css")">
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<title>All Test Entities</title>
	</head>
	<body>
	<div class="container">
		<h1>All Test Entities</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>user_name</th>
					</tr>
				</thead>
				<tbody>
					@for(data <- datas){
						<tr>
							<td>@data.id</td>
							<td>@data.userName</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</body>
</html>